.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

.SearchBar input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: none;
  border-radius: 20px;
  font-size: 1.175rem;
}

.SearchBar button {
  font-size: 1.175rem;
  padding: 10px;
  background-color: #1db954;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.SearchBar button:hover {
  background-color: #1aa34a; /* Slightly darker green for hover effect */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}
