@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

h1 {
  color: #eff2f5; /* Dark Blue */
  font-size: 2.5rem; /* Adjust size as needed */
  padding: 10px;
  margin-bottom: 15px;
}

h2 {
  color: #c3ccd3; /* Slate Gray */
  font-size: 2rem; /* Adjust size as needed */
}

h3 {
  color: #f5f5f5; /* Light Gray */
  font-size: 1.5rem; /* Adjust size as needed */
}

p {
  color: #ecf0f1; /* Off-White */
  font-size: 1rem; /* Adjust size as needed */
  line-height: 1.6; /* Improve readability */
}
